.header {
  background-color: #2bc0ec;
  color: #FFFFFF;
  padding: 15px 0;
}

.header h1 {
  line-height: 45px;
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 20px;
}

.main {
  padding: 10px;
}
table.dataintable{
  width: 100%;
}

table.dataintable tr{
    height: 50px;
}

.loading-box{
  width: 500px;
  height: 300px;
  border: 1px solid #C0CCDA;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #ccc;
}
