<my-breadcrumb name1="icon" name2="icon"></my-breadcrumb>
<div class="" style="overflow: hidden">
  <div class="iocn-box" *ngFor="let item of icon ">
    <i class="fa " ngClass="{{item}}"></i>
    <p>{{item}}</p>
  </div>
</div>
<button pButton type="button" label="查看更多" (click)="show = true" ></button><button pButton type="button" label="隐藏" (click)="show = false" ></button>
<div class="" *ngIf="show">


  <h2 class="text-error">41 New Icons in 4.7</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:0:55;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error"> Web Application Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:56:506;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">Accessibility Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:507:525;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">Hand Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:526:542;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">Transportation Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:543:560;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">Gender Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:561:574;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">File Type Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:575:592;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">Spinner Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:593:598;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>

  <h2 class="text-error">Form Control Icons</h2>
  <div class="">
    <div class="iconall-box" *ngFor="let item1 of iconAll| slice:599;">
      <i class="fa " ngClass="{{item1}}"></i>
      <span>{{item1}}</span>
    </div>

  </div>
</div>

