<p-growl [(value)]="msgs" [sticky]="true"></p-growl>

<div [@pageAnimation]="page_state" class="td-left">
  <my-breadcrumb name1="tree" name2="tree"></my-breadcrumb>

  <p-treeTable [value]="files4" selectionMode="checkbox" [(selection)]="selectedFiles2" [style]="{'margin-top':'50px'}">
    <p-header>Checkbox Selection</p-header>
    <p-column field="name" header="Name"></p-column>
    <p-column field="size" header="Size"></p-column>
    <p-column field="type" header="Type"></p-column>
  </p-treeTable>
  <p>Selected Nodes: <span *ngFor="let file of selectedFiles2">{{file.data.name}} </span></p>
</div>

<div class="div">
  <span class="div-span">推荐</span>
</div>
