<div class="login-div">
  <form class="login-form">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>
          系统管理后台
        </h1>
      </div>
      <div class="ui-g-12">
        <div class="input-box">
          <span class="fa fa-user"></span>
          <input type="text" placeholder="请输入用户名" [(ngModel)]="nameModel" name="nameModel" (focus)="inputFocus()">
        </div>
      </div>
      <div class="ui-g-12">
        <div class="input-box">
          <span class="fa fa-unlock-alt "></span>
          <input type="password" placeholder="请输入密码" [(ngModel)]="psModel" name="psModel" (focus)="inputFocus()">
        </div>
      </div>
      <div class="ui-g-12" style="color: #FF4949;height: 33px">
      {{loginerrortext}}
      </div>
      <div class="ui-g-12">
        <button  type="button" (click)="login()">{{btnLogin}}</button>
      </div>
      <div class="ui-g-10">
        默认账号:binbinadmin
      </div>
      <div class="ui-g-10">
        默认密码:123456
      </div>
    </div>
  </form>
</div>
