<my-gotop></my-gotop>
<p-growl [(value)]="msgs" [sticky]="true"></p-growl>

<div class="header">
  <div>
    <a href="https://angular.cn" class="mr5"><img src="favicon.ico" alt="" width="42" ></a>
    <a href="https://www.primefaces.org/primeng/#/"><img src="./assets/image/logo.png" alt="" width="180"></a>
  </div>
  <ul class="header-ul">
    <li class="header-li">
      <a href="https://github.com/hbb520/angular4-primeng-admin" class="header-item" >
        <i class="fa fa-github"></i>
      </a>
    </li>
    <li class="header-li">
      <a href="" class="header-item">
        <i class="fa fa-commenting"></i>
      </a>
    </li>
    <li class="header-li">
      <a href="" class="header-item">
        <i class="fa fa-sign-out" (click)="loginOut()"></i>
      </a>
    </li>
  </ul>
</div>

<div class="menu" [@menuState]="state">
  <span class="text-error">{{menumsg}}</span>
  <span class="fa fa-bars bars" (click)="changeMenuWidth()"></span>
  <p-accordion>
    <p-accordionTab *ngFor="let item of menus ;let i=index;" [selected]="i == 0">
      <p-header>
        <i class="item-url fa" [ngClass]="item.icon" [@imgState]="state"></i>
        <span>{{item.name}}</span>
      </p-header>
      <ul>
        <div *ngIf="!pTooltipIf">
          <li *ngFor="let children of item.children"><a routerLink="{{children.link}}" routerLinkActive='active-link'>{{children.name}}</a>
          </li>
        </div>
        <div *ngIf="pTooltipIf">
          <li *ngFor="let children of item.children"><a routerLink="{{children.link}}" routerLinkActive='active-link'
                                                        pTooltip="{{children.name}}"></a>
          </li>
        </div>
      </ul>
    </p-accordionTab>
  </p-accordion>
</div>


<div class="router" [@routerState]="state">
  <router-outlet></router-outlet>
</div>
