/*视图框*/
.router {
  padding-top: 60px;
  padding-right: 15px;
  margin-left: 165px;
  overflow-x: auto;
  min-width: 1000px;
  min-height: 500px;
  overflow: hidden;
  padding-bottom: 100px;
}

.item-url {
  position: absolute;
  top: 13px;
}

.bars {
  position: absolute;
  top: 62px;
  right: 0px;
  z-index: 1100;
  color: #FFFFFF;
  font-size: 22px;
  padding: 7px 11px;
  border-radius: 5px;
  cursor: pointer;
}

.bars:hover {
  background-color: rgba(0, 0, 0, .5);
}

.header {
  background-color: #0099E6;
  padding: 0px 20px;
  height: 60px;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  min-width: 1165px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
}
.header-li{
  margin-right: 30px;
}
.header li{
  display: inline-block;
  vertical-align: middle;
}
.header-item{
  display: block;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 100%;
  padding: 13px 2px;
  min-width: 50px;
  transition: background-color .3s;
  cursor: pointer;
}
.header-item:hover{
  background-color: #1d8ce0;
}
