/*视图框*/
.router {
  padding-top: 60px;
  padding-right: 15px;
  margin-left: 185px;
  min-width: 1000px;
  min-height: 500px;
  padding-bottom: 50px;
}

.item-url {
  position: absolute;
  top: 16px;
}

.bars {
  position: absolute;
  top: 62px;
  right: 0px;
  z-index: 1100;
  color: #FFFFFF;
  font-size: 22px;
  padding: 7px 11px;
  border-radius: 5px;
  cursor: pointer;
}

.bars:hover {
  background-color: rgba(0, 0, 0, .5);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 64px;
  justify-content: space-between;
  background-color: #108ee9;
  box-shadow: 0 1px 10px rgba(0,0,0,.2);
  z-index: 900;
}
.header-logo{
  font-size: 28px;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Segoe UI Symbol";
}
.header-li{
  display: inline-block;
  vertical-align: middle;
}
.header-item{
  display: block;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  line-height: 100%;
  padding: 13px 2px;
  min-width: 50px;
  transition: background-color .3s;
  cursor: pointer;
}
.header-item:hover{
  background-color: #1565E9;
}
