/*视图框*/
.router {
  padding-top: 60px;
  padding-right: 15px;
  margin-left: 165px;
  overflow-x: auto;
  min-width: 1000px;
  min-height: 500px;
  overflow: hidden;
  padding-bottom: 100px;
}

.item-url {
  position: absolute;
  top: 13px;
}

.bars {
  position: absolute;
  top: 62px;
  right: 0px;
  z-index: 1100;
  color: #FFFFFF;
  font-size: 22px;
  padding: 7px 11px;
  border-radius: 5px;
  cursor: pointer;
}

.bars:hover {
  background-color: rgba(0, 0, 0, .5);
}

.header {
  background-color: #0099E6;
  padding: 0px 20px;
  height: 60px;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 900;
  width: 100%;
  min-width: 1165px;
}

.header .header-li {
  float: left;
}

.header .header-li-li {
  background-color: #0099E6;
}

.header-something-ul {
  display: none;
}

.header-something:hover .header-something-ul {
  display: block;
}

.header a {
  display: inline-block;
  color: #FFFFFF;
  width: 100px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
}

.header a:hover {
  background-color: #5bc0de;
}

.header-left-ul {
  display: none;
}

@media screen and (min-width: 1600px) {
  .header-left-ul {
    display: block;
  }
}
