<my-breadcrumb name1="demo" name2="表格多列解决方案"></my-breadcrumb>


<div id="upload" class="none-padding-td">
  <p-dataTable [value]="cars">
    <p-column *ngFor="let item of head;let  i = index" header="{{item}}">
      <ng-template let-col let-car="rowData" pTemplate="body">
        <span *ngIf="item == '证券代码'">{{car.dimName}} </span>
        <ul *ngIf="item == '名称'">
          <li *ngFor="let child of car.childs ; first as isFirst" [ngClass]="{'td-border': !isFirst }"
              [ngStyle]="{'height.px': child.high*40,'line-height.px': child.high*40}">
            {{child.dimName}}
          </li>
        </ul>


      </ng-template>
    </p-column>
  </p-dataTable>

</div>
