<my-breadcrumb name1="color" name2="color"></my-breadcrumb>

<p-panel header="主色,主要品牌颜色是鲜艳、友好的蓝色。">
  <div class="ui-g">
    <div class="color-box ui-g-3" style="background-color: #58B7FF">
      <p class="w">Light Blue</p>
      <p class="w">#58B7FF</p>
    </div>

    <div class="color-box ui-g-3" style="background-color: #20A0FF">
      <p class="w">Blue</p>
      <p class="w">#20A0FF</p>
    </div>

    <div class="color-box ui-g-3" style="background-color: #1d8ce0">
      <p class="w">Dark Blue</p>
      <p class="w">#1d8ce0</p>
    </div>



  </div>
</p-panel>

<p-panel header="辅助色,除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。">
  <div class="ui-g">
    <div class="color-box ui-g-3" style="background-color: #20A0FF">
      <p class="w">Blue</p>
      <p class="w">#20A0FF</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#13CE66">
      <p class="w">Success</p>
      <p class="w">#13CE66</p>
    </div>

    <div class="color-box ui-g-3" style="background-color: #F7BA2A">
      <p class="w">Warning</p>
      <p class="w">#F7BA2A</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#FF4949">
      <p class="w">Danger</p>
      <p class="w">#FF4949</p>
    </div>


  </div>
</p-panel>


<p-panel header="中性色,中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。">
  <div class="ui-g">
    <div class="color-box ui-g-3" style="background-color: #1F2D3D">
      <p class="w">Black</p>
      <p class="w">#1F2D3D</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#324057">
      <p class="w">Light Black</p>
      <p class="w">#324057</p>
    </div>

    <div class="color-box ui-g-3" style="background-color: #475669">
      <p class="w">Extra Light Black</p>
      <p class="w">#475669</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#8492A6">
      <p class="w">Silver</p>
      <p class="w">#8492A6</p>
    </div>


  </div>
  <div class="ui-g">
    <div class="color-box ui-g-3" style="background-color: #99A9BF">
      <p class="w">Light Silver</p>
      <p class="w">#99A9BF</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#C0CCDA">
      <p class="b">Extra Light Silver</p>
      <p class="b">#C0CCDA</p>
    </div>

    <div class="color-box ui-g-3" style="background-color: #D3DCE6">
      <p class="b">Gray</p>
      <p class="b">#D3DCE6</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#E5E9F2">
      <p class="b">Light Gray</p>
      <p class="b">#E5E9F2</p>
    </div>


  </div>

  <div class="ui-g">
    <div class="color-box ui-g-3" style="background-color: #EFF2F7">
      <p class="b">Extra Light Gray</p>
      <p class="b">#EFF2F7</p>
    </div>

    <div class="color-box ui-g-3" style="background-color:#F9FAFC">
      <p class="b">Dark White</p>
      <p class="b">#F9FAFC</p>
    </div>

    <div class="color-box ui-g-3" style="background-color: #FFFFFF">
      <p class="b">White</p>
      <p class="b">#FFFFFF</p>
    </div>



  </div>
</p-panel>


