.upload-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  border-color: #c4c4c4;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
}

.upload-button input {
  display: none;
}

.upload-file {
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.progress-box {
  width: 100%;
  height: 164px;
  text-align: center;
  padding-top: 37px;
}

.img-box {
  width: 100%;
  height: 100%;
  text-align: center;
}

.img-box img {
  width: 100%;
}

