/*这里是对  primeng 的样式覆盖*/
.router .ui-state-active{
  background-color: #0073ea !important;
  color: #ffffff !important;
  border-color: #0073ea!important ;
}

.ui-dialog .ui-dialog-footer {
  border: none !important;
}


